h1{
    text-align: center;
    background-color: #1a1818;
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    color: white;
}
body{
    margin: 0px;

}
a{
    display: block;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

a:hover{
    font-size: 25px;
    transition: 0.5s;
}


.btncadastro{
    background-color: rgb(19, 56, 188);
}
.btnprodutos{
    background-color: rgb(104, 13, 189);
}
.btnvendas{
    background-color: #10aa9d;
}
footer{
    text-align: center;
}
