h1{
    text-align: center;
    background-color: #b8b8b8;
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}
body{
    margin: 0px;
}
a{
    display: block;
    margin: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}